<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZJountries-api</title>
</head>
<body>
    <p>code: <a href="https://github.com/Zilezia/ZJountries-api">https://github.com/Zilezia/ZJountries-api</a></p>
    <h1>try:</h1>
    <p><a href="/all">/all</a></p>
    <p><a href="/name/Poland">/name/Poland</a></p>

    <div class="iso-codes">
        <h2>ISO codes:</h2>
        <p><a href="/alpha-2/pl">/alpha-2/pl</a></p>
        <p><a href="/alpha-3/pol">/alpha-3/pol</a></p>
        <p><a href="/numeric/616">/numeric/616</a></p>
    </div>
    <div class="mult_combinations">
        <h2>Combinations:</h2>
        <p><a href="/name/poland&germany">/name/poland&germany</a></p>
        <p><a href="/alpha-2/pl&ca">/alpha-2/pl&ca</a></p>
    </div>
</body>
</html>