<section id="fields" class="main_section">
    <h2 class="section_title">Fields</h2>
    
       <p class="n_text">Have which keys should be visible when calling something by its field.</p>

    <code class="codeblocks">https://{{ domain }}/{{ api_ver }}/all?fields=name</code>
    <p class="api_link"><a class="pr_links" href="/{{ api_ver }}/all?fields=name,capital" target="_blank">/{{ api_ver }}/all?fields=name,capital</a></p>    

    <code class="codeblocks">https://{{ domain }}/{{ api_ver }}/name=poland?fields=name,continent,population</code>
    <p class="api_link"><a class="pr_links" href="/{{ api_ver }}/name=poland?fields=name,continent,population" target="_blank">/{{ api_ver }}/name=poland?fields=name,continent,population</a></p> 

</section>