<section id="iso-codes" class="main_section">
    <h2 class="section_title">ISO codes:</h2>
    
    <p class="n_text">Can call any place that has an ISO-3166 code</p>
    
    <code class="codeblocks">https://{{ domain }}/{{ api_ver }}/iso2={alpha2}</code>
    <p class="api_link"><a class="pr_links" href="/{{ api_ver }}/iso2=pl" target="_blank">/{{ api_ver }}/iso2=pl</a></p>
    
    <code class="codeblocks">https://{{ domain }}/{{ api_ver }}/iso3={alpha3}</code>
    <p class="api_link"><a class="pr_links" href="/{{ api_ver }}/iso3=pol" target="_blank">/{{ api_ver }}/iso3=pol</a></p>

    <code class="codeblocks">https://{{ domain }}/{{ api_ver }}/isoN={numeric}</code>
    <p class="api_link"><a class="pr_links" href="/{{ api_ver }}/isoN=616" target="_blank">/{{ api_ver }}/isoN=616</a></p>    
</section>