<section id="language" class="main_section">
    <h2 class="section_title">Language:</h2>
    
    <p class="n_text">Call countries that speak whatever language.</p>
    
    <code class="codeblocks">https://{{ domain }}/{{ api_ver }}/language={lang}</code>
    <p class="api_link"><a class="pr_links" href="/{{ api_ver }}/language=polish" target="_blank">/{{ api_ver }}/language=polish</a></p>
    
    <section id="official_lang" class="sub_section">
        <h3 class="section_title">Official</h3>
        <p class="n_text">Calls those who's that language is official.</p>
        <code class="codeblocks">https://{{ domain }}/{{ api_ver }}/language={lang}?official=true</code>
        <p class="api_link"><a class="pr_links" href="/{{ api_ver }}/language=polish?official=true" target="_blank">/{{ api_ver }}/language=polish?official=true</a></p>
    </section>
    <section id="spoken_lang" class="sub_section">
        <h3 class="section_title">Spoken</h3>
        <p class="n_text">Calls those who's that language is spoken casually.</p>
        <code class="codeblocks">https://{{ domain }}/{{ api_ver }}/language={lang}?spoken=true</code>
        <p class="api_link"><a class="pr_links" href="/{{ api_ver }}/language=polish?spoken=true" target="_blank">/{{ api_ver }}/language=polish?spoken=true</a></p>
    </section>
</section>