<section id="name" class="main_section">
    <h2 class="section_title">Name:</h2>
    <p class="n_text">Call any country by their name</p>
    <code class="codeblocks">https://{{ domain }}/{{ api_ver }}/name={name}</code>
    <p class="api_link"><a class="pr_links" href="/{{ api_ver }}/name=poland" target="_blank">/{{ api_ver }}/name=poland</a></p>
    <section id="fulltext" class="sub_section">
        <h3 class="section_title">Fulltext</h3>
        <p class="n_text">Call a country by their full name.</p>
        <code class="codeblocks">https://{{ domain }}/{{ api_ver }}/name={name}?fulltext=true</code>
        <p class="api_link"><a class="pr_links" href="/{{ api_ver }}/name=poland?fulltext=true" target="_blank">/{{ api_ver }}/name=poland?fulltext=true</a></p>
    </section>
</section>