<nav class="sidebar">
    
    <h1 class="sb_title"><span style="color: #c120d4;">ZJ</span>ountries-api</h1>
    
    <a class="menu_link" href="#about">About</a>
    <a class="menu_link" href="#all">All</a>
    <a class="menu_link" href="#name">Name</a>
    <a class="sub_menu_link" href="#fulltext">Fulltext</a>
    <a class="menu_link" href="#continent">Continent</a>
    <a class="menu_link" href="#iso-codes">ISO Codes</a>
    <a class="menu_link" href="#language">Language</a>
    <a class="sub_menu_link" href="#official_lang">Official</a>
    <a class="sub_menu_link" href="#spoken_lang">Spoken</a>
    <a class="menu_link" href="#fields">Fields</a>
    <a class="menu_link" href="#multiple">Multiple</a>
    <a class="menu_link" href="#github">Github</a>

</nav>